html, body {
    height: 100vh;
}

body {
    font-family: 'SourceSansPro-Bold';
    background-color: #f6d65c;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: lightslategray;
    color: white;
}

.footer-item + .footer-item {
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: #1e00f8;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

ul {
    margin: 0;
}

.noscript {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    border-bottom: 1rem solid black;
    padding: 10px;
}

.custom-check-or-radio {
    /* Little hack in order to hide the original components of the check/radio button */
    opacity: 0.0;
    position: absolute;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    justify-items: center;
}

.advanced-section {
    grid-column-start: 1;
    grid-column-end: 3;
}

.wfhomie-scribble-img {
    height: 65px;
    width: 500px;
    float: left;
  }