{{/* A little hack so we need don't to have CSS templates and embed those directly. */}}
{{/* The reason being that we need to be able to define the RootPath here. */}}
{{define "font-decl"}}
<style>

@font-face {
    font-family: 'SourceSansPro-Regular';
    font-weight: normal;
    src: local('SourceSansPro-Regular'), url({{.RootPath}}/resources/SourceSansPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    font-weight: bold;
    src: local('SourceSansPro-Regular'), url({{.RootPath}}/resources/SourceSansPro-Regular.otf) format("opentype");
}
</style>
{{end}}