{{/* A little hack so we need don't to have CSS templates and embed those directly. */}}
{{/* The reason being that we need to be able to define the RootPath here. */}}
{{define "font-decl"}}
<style>

@font-face {
    font-family: 'thinoothin';
    font-weight: normal;
    src: local('thinoothin'), url({{.RootPath}}/resources/thinoothin.otf) format("opentype");
}

@font-face {
    font-family: 'thinoobold';
    font-weight: bold;
    src: local('thinoobold'), url({{.RootPath}}/resources/thinoobold.otf) format("opentype");
}
</style>
{{end}}