{{define "lobby-create-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>WFHomie</title>
    <meta charset="UTF-8" />
    {{template "font-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css" />
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/lobby_create.css" />
    <link rel="icon" type="image/png" href="{{.RootPath}}/resources/favicon.png" />
</head>

<body>
    <div class="content-wrapper">
        <noscript><span class="noscript">This website requires JavaScript to run properly.</span></noscript>
        <div id="create-lobby">
            <div class=header>
                <img id="wfhomie-scribble-img" style="margin:auto" src="{{.RootPath}}/resources/wfhomie-ttaal.svg"
                    alt="WFHomie-Two-Truth-And-A-Lie" />
            </div>
            <div class="center-container" style="margin-top:-15px">

                {{if .Errors}}
                <div class="error-list">
                    Your input contains invalid data:
                    <ul>
                        {{range .Errors}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <br />
                    Fix the input and try again.
                </div>

                {{end}}
                <!-- the form to call WFHomie Api and validate the entered Token -->
                <form id="okform" style="display: flex; flex-direction: column;" class="input-container"
                    action="{{.RootPath}}/ssrCheckCode" method="POST" enctype="multipart/form-data">
                    <input name="token" class="form-control" id="tokeninput" maxlength='1000'
                        placeholder="Enter The Code" required />
                    <input name="username" class="form-control" id="WFHomie-username" spellcheck="false"
                        placeholder="Type Your Name" required />
                    <button id="okbtn" type="submit" form="okform" class="play btn">
                        Play!
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}
{{define "enter-user-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>WFHomie</title>
    <meta charset="UTF-8" /> {{template "font-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css" />
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/lobby_create.css" />
    <link rel="icon" type="image/png" href="{{.RootPath}}/resources/favicon.png" />
</head>

<body>
    <div class="content-wrapper">
        <noscript><span class="noscript">This website requires JavaScript to run properly.</span></noscript>
        <div id="create-lobby">
            <div class="header">
                <img id="wfhomie-scribble-img" style="margin:auto"  src="{{.RootPath}}/resources/wfhomie-ttaal.svg"
                    alt="WFHomie-Two-Truth-And-A-Lie" />
            </div>
            <div class="center-container" style="margin-top:-15px">
                <form id="okform" style="display: flex; flex-direction: column;" class="input-container"
                    action="{{.RootPath}}/ssrCheckCode" method="POST" enctype="multipart/form-data">
                    <input name="username" class="form-control" id="WFHomie-username" spellcheck="false"
                        placeholder="Type Your Name" required />
                    <input style="display:none;" class="input-item" value="{{.WFHomieToken}}" name="token"
                        id="WFHomie-token">
                    </input>
                    <button id="okbtn" type="submit" form="okform" class="play btn">
                        Play!
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
{{end}}
